*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background-color: #FFF5E2;
  font-family: 'Roboto', sans-serif;
}

img{
  height: 100%
}

.hidden{
  visibility: hidden;
}

.wrapper{
  height: 100vh;
  width: 75vw;
  margin: 0 auto;
}

.wrapper > *{
  padding: 30px;
}

header{
  height: 150px;
  background-color: #FDBB40;
  display: flex;
  flex-direction: column-reverse;
  position: relative;
}

header .img{
  height: 200px;
  transform: translate(-50%, -50%);
  position: absolute;
  left: calc(75vw - 30px);
  top: 50%;
}

h1{
  font-size: 40px;
}

main{
  height: calc(100% - 250px);
  background-color: #ffff;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

main > input[type=text]{
  border: none;
  height: 35px;
  font-size: 28px;
  margin-bottom: 15px;
}

.ingredients-list{
  height: 270px;
  display: flex;
  flex-flow: column wrap;
}

.ingredient{
  height: 90px;
  padding: 15px 0;
}

.ingredient .img{
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}

.checkbox{
  display: inline-block;
  height: 15px;
  width: 15px;
  background-color: #D33359;
  vertical-align: middle;
  margin: 0 5px;
}

.checkbox i{
  font-size: 20px;
  transform: translate(-1px, -4px);
}

.coupon{
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.coupon label{
  font-size: 20px;
  line-height: 28px;
}

.coupon input{
  border: none;
  width: calc(100% - 160px);
  background-color: #FFF5E2;
  border-radius: 5px;
  height: 28px;
  font-size: 20px;
}

main button{
  border: none;
  border-radius: 5px;
  padding: 15px 0;
  font-size: 23px;
  background-color: #FDBB40;
  margin: 15px 0;
  width: 150px;
  align-self: center;
}

footer{
  height: 100px;
  background-color: #D33359;
  color: #fff;
  font-size: 30px;
  display: flex;
  justify-content: space-between;
}

#total{
  width: 100px;
}
